caja
btop
discord
tg
sticky
lazydocker
cef_user_data
celluloid
Code
dconf
enchant
evolution
glib-2.0
gtk-3.0
hexchat
keepassxc
lazygit
libreoffice
mimeapps.list
neofetch
obs-studio
pavucontrol.ini
pulse
qt5ct
QtProject.conf
sublime-text
Thunar
user-dirs.dirs
user-dirs.locale
xed
xfce4
xfce4-dict
xviewer
yarn
