caja
btop
discord
tg
sticky
lazydocker
cef_user_data
celluloid
Code
dconf
enchant
evolution
glib-2.0
gtk-3.0
hexchat
keepassxc
lazygit
libreoffice
mimeapps.list
neofetch
obs-studio
pavucontrol.ini
pulse
qt5ct
QtProject.conf
sublime-text
Thunar
user-dirs.dirs
user-dirs.locale
xed
xfce4
xfce4-dict
xviewer
yarn
BraveSoftware
KADOKAWA
dlv
gh
go
godot
obsidian
pix
syncthing
systemd
transmission
unity3d
gnome-initial-setup-done
droidcam
touchegg
pop-system-updater
pop-shell
ibus
gnome-control-center
gtk-4.0
heroic
.gsd-keyboard.settings-ported
i3-starterpack
tmux/plugins
Slack
Google
Android Open Source Project
Proton
Wallflower Games
google-chrome
zoom.conf
zoomus.conf
Element
Signal
simplex
simple-scan
gedit
rand-wallpaper
phoemux
GIMP
calibre
chromium
jgit
minosoft
retroarch
PCSX2
.librewolf
/YouTube\ Music/
gtk-2.0
meli
menus
nautilus
uv
JetBrains
OpenRGB
Zoho\ Mail\ -\ Desktop
astro
bruno
autostart
cni
gh-dash
configstore
legcord
opera
totem
vlc
simple-update-notifier
vcl
krita
kritarc
kritadisplayrc
.avalonia-build-tasks
fyne
kdeconnect
lact
org.sonusmix.Sonusmix
StabilityMatrix
eog
blender
sunshine
